.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 24px;
}

.pagination__button {
  background: none;
  font-size: 24px;
}

.pagination__center {
  display: flex;
  align-items: center;
  gap: 10px;
}
