.menu {
  display: flex;
  gap: 20px;
}

.menu__link {
  font-size: 24px;
  color: white;

  border-bottom: 1px solid black;
  cursor: pointer;

  &:hover:not(.active) {
    border-bottom: 1px solid orange;
  }

  &.active {
    color: orange;
  }
}
