.cards {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

.cards__not-found {
  width: 100%;

  font-size: 24px;
  color: orange;
  text-align: center;
}
