.root {
  height: 100%;
  display: grid;
  grid-template-rows: 80px auto 60px;

  @media screen and (max-width: 575px) {
    grid-template-rows: 122px auto 60px;
  }
}

.errors-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
