.header {
  width: 100%;

  background-color: black;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 785px) {
      .search {
        display: none;
      }
    }
  }

  @media screen and (max-width: 785px) {
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
  }

  .mobile-wrapper {
    width: 100%;
    padding: 0 20px;
    display: none;

    @media screen and (max-width: 785px) {
      display: flex;

      .search {
        width: 100%;
      }
    }
  }
}

.header__logo {
  font-size: 36px;
  color: white;

  cursor: pointer;
}
