.header {
  width: 100%;

  background-color: black;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  font-size: 36px;
  color: white;

  cursor: pointer;
}
