.search {
  display: grid;
  grid-template-columns: 320px 80px;
  gap: 10px;

  &__input {
    height: 40px;
    padding: 10px;

    font-size: 16px;
  }

  &__button {
    height: 40px;

    font-size: 16px;
    font-weight: 500;
  }

  @media screen and (max-width: 785px) {
    grid-template-columns: auto 80px;
  }
}
