.form-card {
  text-shadow: 0 0 7px white;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-card__image {
  height: 100px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form-card-wrapper {
  padding: 20px;
}

.form-card__number {
  font-size: 24px;
  text-align: center;
}

.form-card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-card__text {
  font-size: 20px;
}
